PORT = 3000
MONGODB_URI = mongodb://localhost:27017/khareedonow
JWT_SECRET = your_jwt_secret_key_asrtyuiuytfrdsdfghjkljhgfdsasdfghki

EMAIL_USER = gmail@gmail.com
EMAIL_PASS = 16DighitPassword

CLOUDINARY_CLOUD_NAME = 
CLOUDINARY_API_KEY = 
CLOUDINARY_API_SECRET = 